 .column1 {
  float: left;
  width: 28%;
  margin-top: 2%;
  margin-left: 7%; 
  margin-right: 0%;
}

.column2 {
  float: left;
  width: 28%;
  margin-top: 2%;
  margin-left: 0%;
  margin-right: 0%;
}
.column3 {
  float: right;
  width: 24%;
  margin-top: 2%;
  margin-left: 0%; 
  margin-right: 10%;
}
table{
  width: 125%;
  height: 25em;
}
  /* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
} 

#heading
{
   text-align: center;
   color: black;
   font-size: medium;
}
.image1,.image2
{
  border-style: solid;
  border-width: 2px;
  border-color: black;
  background-image: url('utils/200.gif');
  background-size: cover;
}
.next
{
  text-align: center;
  margin-top: 5%;
  font-size: 20px;
}
.next2
{
  text-align: center;
  margin-top: 0%;
  font-size: 20px;
}

td{
  color: black;
}
.next:hover{
    background-color:lightgray;
    color: black;
}
.next2:hover{
  background-color:lightgray;
  color: black;
}
